<!-- Page -->
  <div class="page">
    <div class="page-header text-center">
      <h1 class="page-title">Page Title</h1>
      <p class="page-description">
        Page Description Here.
      </p>
    </div>
    <div class="page-content">
    	<div class="panel">
	        <div class="panel-body">
	        	  <%= form_for(@country, :url => admin_country_path(), :method => 'delete') do |f| %>
				    <p>Are you sure you want to permanently delete this country?</p>

				    <p class="reference-name"><%= f.object.name %></p>

				    <div class="form-buttons">
				      <%= f.submit("Delete") %>
				    </div>

				  <% end %>
	        </div>
	    </div>
    </div>
  </div>
  <!-- End Page -->