<!-- Page -->
  <div class="page">
    <div class="page-header text-center">
      <h1 class="page-title">Page Title</h1>
      <p class="page-description">
        Page Description Here.
      </p>
    </div>
    <div class="page-content">
    	<div class="panel">
	        <header class="panel-heading">
	          <h3 class="panel-title">Add Row</h3>
	        </header>
	        <div id="exampleTableAddToolbar">
	        	<%= link_to(new_admin_role_path(), class: "btn btn-outline btn-primary") do %>
	        	<i class="icon wb-plus" aria-hidden="true"></i> Add row
	        	<% end %>
	        </div>
	        <div class="panel-body">
	          <table class="table table-hover dataTable table-striped width-full" id="exampleTableAdd">
	            <thead>
	              <tr>
	                <th>Name</th>
	                <th>Actions</th>
	              </tr>
	            </thead>
	            <tfoot>
	              <tr>
	                <th>Name</th>
	                <th>Actions</th>
	              </tr>
	            </tfoot>
	            <tbody>
	            	<% @roles.each do |role| %>
	            	<tr>
	                	<td><%= role[:name] %></td>
	                	<td><%= link_to 'edit', edit_admin_role_path(role.id) %> | <%= link_to 'delete', delete_admin_role_path(role.id) %></td>
	                </tr>
	                <% end %>
	            </tbody>
	          </table>
	        </div>
	    </div>
    </div>
  </div>
  <!-- End Page -->