<div class="container">
  <div class="row">
    <div class="card-group">
      <% if @cities.count > 0 %>
        <% @cities.each do |city|%>
        <% if city.thumbnail.attachment.present? %>
          <div class="card col-md-3">
            <a href="#"> <%= image_tag rails_blob_path(city.thumbnail.blob), :class => 'card-img-top' %></a>
             <div class="card-body">
                <h5 class="card-title"><%= city.name %></h5>
            </div>
          </div> 
          <% else %>
            <div class="card col-md-4">
              <a href="#"> <%= image_tag 'img_avatar1.png', :class => 'card-img-top' %></a>
              <div class="card-body">
                <h5 class="card-title"><%= city.name %></h5>
              </div>
            </div> 
        <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>